{% extends 'aplicacion/base.html' %}
{% block content %}
<h1>Información de la Tienda</h1>


  <div class="row">

         {% for tiendas in tiendas %} 
          <div class="col-12 col-md-6 col-lg-6">
          
       <div class="card" style="margin-top: 20px; background-image: linear-gradient(to right bottom, #eb1a1a, #f26300, #f09500, #e4c100, #cfeb12); color: black;">
        <div class="card-body ">
          <h5 class="card-title text-light">{{tiendas.nombre_tiendas}}</h5>
          <p class="card-text  text-light">Ubicacion : {{tiendas.direccion_tiendas}}</p>
          <p class="card-text  text-light">Sucursal : {{tiendas.comuna_tiendas}}</p>
          <p class="card-text text-light">Teléfono : {{tiendas.telefono_tiendas}}</p>
          <p class="card-text text-light">Correo : {{tiendas.correo_tiendas}}</p>
        </div>
      </div>
      </div>

         {% endfor %}
  {% for tiendas in tiendas %}  
         <div class="col-12 col-md-6 col-lg-6">

           <div class="card" style="margin-top: 20px; background: #4CB8C4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: white;">
  <div class="card-header">
    VENDEDOR
  </div>
  <ul class="list-group" style="">
  <a class="list-group-item">
    <div class="bmd-list-group-col">
      <p class="list-group-item-heading ">Encargado : {{tiendas.encargado}}</p>

      <p class="list-group-item-text text-white">Correo :{{ user.email }}</p>
      <p class="list-group-item-text text-white">Último Inicio sesión :{{ user.last_login }}</p>
      
      <img src="">

    </div>
  </a> 
</ul>

</div>
         </div>
 {% endfor %}
  </div>
<div class="row mt-4">
  {% for tiendas in tiendas %}  
    {% for producto in tiendas.productos.all %} 
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card-deck">
      
  <div class="card">
       {% if producto.imagen_productos %}
          <img class="card-img-top" src="{{producto.imagen_productos.url}}" alt="Card image cap">
{% endif %}
    <div class="card-body">
      <h5 class="card-title">{{producto.nombre_productos}}</h5>
      <p class="card-text">Precio : ${{producto.precio_productos}}</p>
      <p class="card-text">Descripcion :{{producto.descripcion_productos}}</p>
      <p class="card-text">Tipo Producto:{{producto.tipo_productos}}</p>
    </div>
  </div>
  
</div>
  </div>
    {% endfor %}
     {% endfor %}
</div>

        <div class="mt-5"  >
            
        </div>

{% endblock %}